* {
  box-sizing: border-box;
}

body {
  font-family: "Lexend";
  background-color: rgb(242, 255, 255);
  margin: 0;
}

section {
  margin-left: 50px;
  margin-right: 50px;
}

a {
  text-decoration: none;
}

.app-div,
.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.mapp {
  font-size: 60px;
}

.span {
  color: #1580eb;
}

.app-txt {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
  padding-bottom: 10px;
}

.icon {
  background-color: skyblue;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
}

.mds-icon {
  z-index: 2;
  width: 24px;
  fill: none;
  stroke: #1580eb;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}

.adv {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  padding: 5px 0;
}

.img-top {
  position: relative;
}

.img-bg {
  background-color: skyblue;
  width: 916px;
  height: 574px;
}

.top-img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.con-box {
  background-color: white;
  width: 268px;
  height: 157px;
  z-index: 5;
  position: absolute;
  right: -50px;
  bottom: -40px;
  box-shadow: -5px 0 40px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.svg-icon #con-icon {
  background-color: #1580eb;
  fill: #1580eb;
}

.con-head {
  display: flex;
  gap: 10px;
  font-size: 25px;
  align-items: center;
}

.con-info {
  width: 150px;
}

.tb-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.tbq {
  width: 500px;
  text-align: center;
}

.tbq-info {
  font-size: 10px;
  color: #a4a4a4;
  width: 350px;
  text-align: center;
  padding: 20px 0;
}

.card-sect {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-b {
  background-color: #1580eb;
  padding: 50px 70px;
  color: white;
  position: relative;
}

.cards {
  background-color: white;
}

.two,
.four,
.six {
  margin-top: 150px;
}

.card-col {
  display: flex;
  gap: 40px;
  margin: 20px 0;
}

.card-b,
.cards {
  width: 604px;
  height: 302px;
  border-radius: 15px 15px 0 15px;
  margin-bottom: 20px;
  position: relative;
  padding: 50px 70px;
}

.card-no1 {
  background-color: skyblue;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 15px 0 0 0;
  color: white;
  font-size: x-large;
  padding: 28px 0 0 28px;
}

.card-no {
  background-color: #1580eb;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 15px 0 0 0;
  color: white;
  font-size: x-large;
  padding: 28px 0 0 28px;
}

.card-heading {
  font-size: x-large;
}

.card-info {
  width: 300px;
  padding: 30px 0 20px 0;
}

.rm {
  padding-top: 20px;
  color: white;
}

.schedule {
  height: 670px;
  background-color: #e5f1fa;
  margin: 120px 0;
  position: relative;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule img {
  position: absolute;
  bottom: 0;
  width: 549px;
}

.schedule-info {
  font-size: 50px;
  width: 700px;
  padding-left: 60px;
}

.app-info {
  font-size: 20px;
  padding: 30px 0;
  width: 600px;
  color: #a4a4a4;
}

.app-btns {
  display: flex;
  justify-content: space-between;
  width: 600px;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 20px;
}

.btn-one,
.btn-two,
.btn-three,
.btn-four {
  display: flex;
  align-items: center;
  font-size: small;
  width: 250px;
  padding: 20px 10px;
  background-color: white;
  margin-bottom: 35px;
  justify-content: center;
  border: 2px solid #a4a4a4;
  border-radius: 4px;
  color: black;
}

.btn-one {
  padding: 0 10px;
}

.btn-one div {
  padding: 10px;
}

.btn-three {
  color: #1580eb;
  font-weight: bold;
}

.btn-four {
  background-color: #1580eb;
  border: none;
  color: white;
}
